<!doctype html>
<html>
<head>

    <meta charset="utf-8">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/jquery.interactive_bg.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">


    <script type="text/javascript" src="js/script.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />


    <script type="text/javascript" src="js/jquery.fullPage.js"></script>

</head>

<div class="wrapper bg" data-ibg-bg="img/bg.jpg">



<div class="header">

    <nav id="nav">
        <button id="nav-icon" class="nav-icon"><span></span></button>
        <ul>
            <li><a href="#onepage">link</a></li>
            <li><a href="#twopage">Link</a></li>
            <li><a href="#threepage">link</a></li>
            <li><a href="#fourpage">link</a></li>
        </ul>
    </nav>
</div>
        <div id="fullpage">


        <div class="section " id="section0">
            <h1>Title</h1>

        </div>
        <div class="section" id="section1">
            <h1>Title</h1>
        </div>

        <div class="section" id="section2">
<h1>Title</h1>

            <div class='gallery'>
                <div class='imgWrap imgWrap1' style='background-image:url(img/carousel/1-min.jpg);'>text</div>
                <div class='imgWrap imgWrap2' style='background-image:url(img/carousel/2.png);'>text</div>
                <div class='imgWrap imgWrap3' style='background-image:url(img/carousel/3.png);'>text</div>
                <div class='imgWrap imgWrap4' style='background-image:url(img/carousel/4.png);'>text</div>
                <div class='imgWrap imgWrap5' style='background-image:url(img/carousel/2.png);'>text</div>
            </div>






        </div>
            <div class="section " id="section3">
                <h1>Title</h1>

            </div>

</div>
</div>
</body>
</html>
<script>

</script>
<style>



</style>
