@font-face {
    font-family: myFont;
    src: url('../font/Peyoriregular.ttf');
}
html {
    height: 100%;
}
body {
    padding: 0;
    text-align: center;
    font-family: myFont;
    position: relative;
    margin: 0;
    height: 100%;
}

.wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
}



h1, h2 {
    font-family: myFont;
    color: #fff;
    width: 100%;
    float: left;
    text-shadow: 4px 4px rgba(128, 128, 128, 0.68);
}
h1 {

    margin-top: 100px;

    margin-bottom: 5px;
    font-size: 70px;
    font-weight: 100;
}
h2 {

    font-size: 50px;
    line-height: 160%;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
}




.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}


.main h1 {
    padding:20px 50px 10px;
    float: left;
    width: 100%;
    font-size: 60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-weight: 100;
    margin: 0;
    padding-top: 55px;
    font-family: 'Open Sans';
    letter-spacing: -1px;
    text-transform: capitalize;
}




.page-container {
    float: left;
    width: 100%;
    margin: 0 auto 300px;
    position: relative;
}

.header {
    overflow: hidden;
    clear: both;
}

.bg {
    position: absolute;
    min-height: 100% !important;
    width: 100%;
    z-index: 0;
}

.ibg-bg {
    position: absolute;
}



.main {
    position: relative;
}



.gallery {
    overflow: hidden;
    height: 50%;
    width: 70%;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 20%;
}

.imgWrap {
    color: white;
    font-weight: bolder;
    text-shadow: 3px 3px grey;
    font-size: 25px;
    float: left;
    width: 20%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.imgWrap:last-child {
    float: left;
}

.current {
    width: 36%;
    -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    cursor: pointer;
}

.notCurrent {
    width: 16%;
    -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    -webkit-font-smoothing: antialiased;
}



section {
    padding: 12.5%;
    width: 100%;
}
section:nth-of-type(even) {
    background: #fff;
    color: #111;
}

p {
    margin-bottom: 2.5em;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}



nav {

    z-index: 100;
    display: block;
    position: absolute;
}
nav ul {
    position: fixed;
    top: 20%;
    right: 35px;
    height: 100vh;
    visibility: hidden;
    pointer-events: none;
    list-style: none;
    width: 35px;
}
nav ul li {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.75em 0;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}
nav.active ul {
    visibility: visible;
    pointer-events: initial;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.nav-icon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    display: inline-block;

    position: fixed;
    top: 6%;
    right: 35px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;

    width: 65px;
}
.nav-icon span {
    position: absolute;
    top: 15px;
    left: 5px;
    background: #fff;
    display: block;
    height: 13px;
    right: 5px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    box-shadow: 4px 4px rgba(128, 128, 128, 0.68);
}
.nav-icon span:before, .nav-icon span:after {
    width: 100%;
    height: 13px;
    background: #fff;
    content: "";
    display: block;
    left: 0;
    position: absolute;
}
.nav-icon span:before {
    top: -18px;
    box-shadow: 4px 4px rgba(128, 128, 128, 0.68);
}
.nav-icon span:after {
    bottom: -18px;
    box-shadow: 4px 4px rgba(128, 128, 128, 0.68);
}
.active .nav-icon span {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
@media only screen and (max-device-width: 480px) {
    #fp-nav ul li, .fp-slidesNav ul li{
        margin:14px;
    }
    .imgWrap
    {
        height: 60%;
        font-size: 30px;
    }

}